@model Estime.Web.ViewModels.ProjectInput

<h2>@ViewBag.Title</h2>

@using(Html.BeginForm("Edit", "Project"))
{
	@Html.EditorForModel()

	<p>
		<button type="submit">Gem</button>
		<a href="@Url.Action("Edit", "Client", new {id = Model.ClientId})">Fortryd</a>
		@if( Model.Id!=Guid.Empty )
		{
			<text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
			<a href="@Url.Action("Close", new { id = Model.Id })">Luk åbne timer</a>
		}
	</p>
}

@section AdditionalScripts
{
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"> </script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"> </script>
}
