@model Estime.Web.ViewModels.ConsultantInput

<h2>@ViewBag.Title</h2>

@using(Html.BeginForm("Edit", "Consultant"))
{
	@Html.EditorForModel()
	
	<p>
		<button type="submit">Gem</button>
		<a href="@Url.Action("List")">Fortryd</a>
	</p>
}

@section AdditionalScripts
{
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
}
